<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flatmate.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @flatmate.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @flatmate.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @flatmate.password %>
</p>

<%= link_to 'Edit', edit_flatmate_path(@flatmate) %> |
<%= link_to 'Back', flatmates_path %>
